<ion-header [translucent]="true">
    <ion-toolbar [color]="isRecording? 'danger' : 'primary'">
        <ion-title>
            Martha V1.0
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>
    <button ion-button full (click)="getPermissions()">Get Permission</button>
    <ion-card>
        <ion-card-header></ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngIf="matches?.length > 0">Entendi: {{ matches[0] }}</ion-item>
                <div *ngIf="response?.length > 0">
                    <ion-item *ngFor="let res of response">
                        {{ full_response }}
                    </ion-item>
                </div>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label>Áudio Polly (AWS)</ion-label>
                <ion-toggle [(ngModel)]="use_native_audio" slot="start" name="Áudio Polly" color="tertiary"></ion-toggle>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row [ngStyle]="{'position': 'fixed', 'left': 0, 'bottom': '20px'}">
        <ion-col style="text-align: left">
            <ion-button size="large" color="tertiary" (click)="startListening()">Iniciar</ion-button>
        </ion-col>
        <ion-col style="text-align: right">
            <ion-button size="large" color="tertiary" (click)="restartSession()">Reiniciar</ion-button>
        </ion-col>
    </ion-row>

    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
